<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wqzhang.thingswapper">

    <!-- 注册开机广播权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.premission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.wqzhang.thingswapper.activity.WelcomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!--android:launchMode="singleTask"-->

        <activity
            android:name=".activity.MainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.wqzhang.thingswapper.activity.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--android:windowSoftInputMode="stateAlwaysHidden|adjustResize"-->
        <!--android:windowSoftInputMode="stateAlwaysHidden|adjustPan">-->


        <activity
            android:name=".activity.AddToDoThingActivity"
            android:launchMode="singleTop"
            android:theme="@style/ActionTheme">

            <intent-filter>
                <action android:name="com.wqzhang.thingswapper.activity.AddToDoThingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterUserActivity"
            android:launchMode="singleTop"
            android:theme="@style/ActionTheme">

            <intent-filter>
                <action android:name="com.wqzhang.thingswapper.activity.RegisterUserActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.NotifyService">
            <intent-filter>
                <action android:name="com.wqzhang.thingswapper.services.NotifyService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name=".service.ScanService">
            <intent-filter>
                <action android:name="com.wqzhang.thingswapper.service.ScanService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.NotifyReceiver">
            <intent-filter>
                <action android:name="com.wqzhang.thingswapper.Receivers.NotifyReceiver" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootComletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>